$animation-strength: 10px;
$animation-duration: 5s;

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  user-select: none;

  img#blob1 {
    position: absolute;
    width: 80vw;
    bottom: -60vh;
    right: -30vw;
  }

  img#blob2 {
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 20vw;
  }
}

.levitate {
  position: relative;
  text-align: center;
  user-select: none;

  img {
    width: 15%;

    animation-name: hover;
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .title-wrapper {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  .title {
    display: block;
    font-size: 4rem;
    font-family: 'Londrina Solid', sans-serif;
    -webkit-text-stroke: 2px #fe5678;
  }

  .subtitle {
    color: black;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY($animation-strength);
  }
  100% {
    transform: translateY(0);
  }
}

.cta {
  text-align: center;
  margin: 150px auto 0 auto;
}

#create-space {
  margin-right: 20px;
}

#wallet-file {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}