<div class="levitate">
  <img class="levitate" src="/assets/img/levitate.svg">
  <div class="title-wrapper">
    <span class="title">Spaces</span>
    <span class="subtitle">Store your passwords permanently.</span>
  </div>
</div>

<div class="cta">
  <button type="submit" class="btn btn-icon btn-primary" (click)="openSpace()">
    <span class="icon gg-chevron-double-right"></span>Open space
  </button>
</div>

<div class="background">
  <img id="blob1" src="/assets/img/blob.svg">
  <img id="blob2" src="/assets/img/blob2.svg">
</div>